body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #243131;
  text-align:center;
  font-size: 14px;
  background-color: #fcfcfc
}

a {
  text-decoration: none;
  color: #d4c089;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 28px;
}